@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(247, 247, 247);
}

::selection{
    background-color: rgb(48, 189, 207);
}
.account-search{
    padding: 0.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account-search button{
    border: none;
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    cursor:pointer;
}

.account-search, .account-search button{
    background-color: rgb(255, 255, 255);
}

.my-nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: rgb(182, 31, 31);
}

.my-nav-bar-ul, .nav-comp-ul, .footer-social-ul{
    list-style-type: none;
    display: flex;
}

.my-nav-bar button{
    border: none;
    background-color: rgb(182, 31, 31);
    font-size: 1rem;
    cursor:pointer;
    color: #ffffff;
    transition: 0.5s;
}

.my-nav-bar button:hover{
    transform: scale(1.1);
}

.my-nav-bar-ul li, .nav-comp-ul li{
    padding: 0 0.7rem;
}

.my-nav-bar-ul li:last-child,.nav-comp-ul li:last-child{
    padding-right: 0;
}

.nav-comp-ul li:first-child{
    padding-left: 0;
}

.nav-comp{
    margin: 1rem 3rem;
}

.nav-comp-ul button{
    border: none;
    font:600 1rem 'Montserrat', sans-serif;
    cursor:pointer;
    background-color: rgb(247, 247, 247);;
    color: rgb(102, 102, 102);
}

.nav-comp-ul button:hover{
    color: #000;
}

.footer{
    padding: 1rem 3rem;
    display: flex;
    justify-content: center;
    background-color: rgb(63, 63, 63);
}

.footer-social-ul{
list-style-type: none;
}

.footer-social-ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    background-color: rgb(77, 77, 77);
    margin: 0.5rem;
    cursor: pointer;
    transition: 0.5s;
}

.footer-social-ul li:hover{
    background-color: rgb(182, 31, 31);
}

.articles-con{
    margin: 2rem 3rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5rem;
}

.article{
    background-color: #f7f7f7;
    border-radius: 9px;
    transition: 1s;
}

.article:hover{
    box-shadow: 1px 1px 35px rgb(66, 66, 66);
}

.article img{
    border-radius: 7px 7px 0 0;
    width: 100%;
    min-height: 40%;
    transition: 1s;
}

.article-type{
    padding: 1.3rem;
}